/* *{
  margin: 0;
  padding: 0;
} */

.App {
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#grid{
  width: 100vw;
  margin: 0;
  padding: 0;
  /* height:100vh; */
  display: grid;
  /* !   why is here horizontanl scroll? - see after line 24 for section as well */
  grid-template-columns: repeat(5, 18vw);
  gap: 20px;
}

#grid section{
  display:inline-block;
  color:white;
  background-color:#aaa;
  width:100%;
  margin: 0;
  padding: 0;

}

/* #someElem{
  display:inline-block;
  color:white;
  background-color:#aaa;
} */
p{
  /* display:inline-block; */
}

